.footer {
  background: #333;
  color: #fff;
  padding: 40px 20px 20px;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 15px;
  color: #e67a37;
}

.footer-section p,
.footer-section a,
.footer-section li {
  color: #ddd;
  font-size: 0.95rem;
  line-height: 1.6;
}

.footer-section a {
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: #fff;
}

/* Métodos de pago */
.payment-icons {
  display: flex;
  gap: 15px;
  font-size: 30px;
  flex-wrap: wrap;
}

.payment-icons svg {
 transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.payment-icons svg:hover {
  transform: scale(1.2);
  color: #ff8c42;
}

/* Redes sociales */
.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons img {
  filter: invert(100%);
  transition: transform 0.3s;
}

.social-icons img:hover {
  transform: scale(1.2);
  filter: invert(70%) sepia(80%) saturate(500%) hue-rotate(10deg);
}

/* Línea inferior */
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 0.85rem;
  color: #aaa;
}
